@import "imports/variables.import.less";
@import "imports/mixins.import.less";
@import "imports/typography.import.less";
@import "imports/base.import.less";
@import "imports/pages.import.less";
@import "imports/spinners.import.less";
@import "imports/slideout.import.less";
@import "imports/users.import.less";


.text-gold { color:gold; }
.text-red { color: @red; }
.beta-btn {
  border:none;
  color:@red;
  background-color: #D1DABF;
  font-family: 'Open Sans';
  font-size:10px;
  font-weight:600;
  text-shadow:none;
  cursor: pointer;
}

#main {
  background-color: @navy;
}

#newaccount_btn {
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 100;
}

#page-status {
  //position: fixed;
  //padding: 15px;
  //bottom: 20px;
  //left:0px;
  //right:0px;
  //width: 200px;
  //margin-left: auto;
  //margin-right:auto;
  //border-radius: 15px;
  //opacity: 0.5;
}


.account {
  flex-direction: row;
  cursor: pointer;
  padding: 10px 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom:10px;
  height:60px;
  overflow:auto;
}
.account:hover {
  background-color: darken(#fff,5%);
}
.account:hover .account-name {
  text-decoration: underline;
}
.account-date { width: 70px; }

.btn-star {
  background-color: transparent;
  border: 1px solid gray;
}
.btn-star:hover { color:gold; };

.form-control-action {
  width: auto;
  pointer-events: auto;
  background-color:lightgrey;
}

//Adjust bootstrap pagination
.pagination { margin: 10px 0; }

.nav-logout { margin-top: 60px; }

.language-selection { padding: 10px; }
.language-selection a.js-lang { padding:5px; }