<template name="language_selection">
    <div class="language-selection">
        <a href="#" class="js-lang" data-locale="en">
            <img src="/flags/United-States.png" alt="US Flag"/> English
        </a>
        <a href="#" class="js-lang" data-locale="fr">
            <img src="/flags/France.png" alt="France Flag"/> Français
        </a>
        <a href="#" class="js-lang" data-locale="zh">
            <img src="/flags/China.png" alt="China Flag"/> 简体中文
        </a>
    </div>
</template>
