<template name="top_navbar">
    <nav class="navy-bg m-xs">
        <div class="pull-left">
            <a class="js-toggle-menu btn btn-primary " href="#">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <div class="text-center">
            {{mf 'topNavBar.welcome' 'Welcome to Passtis'}}
            <span class="kbd label beta-btn">Beta</span>
        </div>

        <div class="pull-right">
            <a href="#" class="js-logout">
                <i class="fa fa-sign-out"></i> {{mf 'topNavBar.logout' 'Logout'}}
            </a>
        </div>
    </nav>
</template>